@charset "UTF-8";
.modal{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal .modal_dialog{
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
}

.modal .modal_close{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal .modal_close span{
    color: white;
    font-size: 50px;
}

.modal_dialog .modal_content{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}

.review_write_modal .modal_content{
    min-height: calc(100vh - 3.5rem);
    border-radius: 12px;
}

.order_modal .modal_content{
    min-height: calc(100vh - 3.5rem);
    border-radius: 12px;
}

.modal_content .modal_body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.review_write_modal .modal_body{
    padding: 24px;
}

.order_modal .modal_body{
    padding: 24px;
}

.review_write_modal .modal_body .header_title{
    font-size: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(218, 224, 230);
}

.modal_body h5{
    font-size: 24px;
    color: rgb(41, 46, 51);
    font-weight: 700;
    margin-bottom: 24px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.modal_content .modal_body .exit_button{
    cursor: pointer;
}

.modal_content .modal_body .review_wrap{
    padding-bottom: 24px;
}

.review_wrap .review_title{
    font-weight: 700;
    color: rgb(61, 69, 77);
    display: block;
}

.modal_content .modal_body .help{
    padding: 24px;
    background-color: rgb(247, 248, 251);
    border-radius: 4px;
}

.modal_content .modal_body .help li{
    font-size: 14px;
    color: rgb(113, 113, 113);
}

.modal_body .flex_box{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.modal_content .modal_body .review_rating{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.review_rating .review_star{
    height: 36px;
    margin: 0px 6px;
    cursor: pointer;
}

.review_filename{
    width: 100%;
}

#review_filename{
    opacity: 0;
    display: none;
    overflow: visible;
}

.add_photo_button{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    transition-duration: 0s;
    height: 48px;
    width: 88%;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;
    color: #5865F2;
    border: 1px solid #5865F2;
    cursor: pointer;
}

.modal_content .modal_body textarea{
    font-family: inherit;
    resize: none;
    color: #3d454d;
    padding: 16px;
    border: 1px solid #e4eaf0;
    border-radius: 6px;
    width: 91%;
    display: block;
    background-color: #fff;
    background-clip: padding-box;
    line-height: 1.5!important;
}

.modal_content .modal_body .review_write_action_button,.modal_content .modal_body .modal_button{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    border: none;
    transition-duration: 0s;
    cursor:pointer;
}

.review_write_action_button.checked,.modal_button.checked{
    height: 48px;
    width: 100%;
    background-color: #5865F2;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    margin: 0px;
}

.review_write_action_button.unchecked,.modal_button.unchecked{
    height: 48px;
    width: 100%;
    background-color: rgb(237, 241, 245);
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;
    color: rgb(152, 165, 179);
    border: 1px solid rgb(237, 241, 245);
    margin: 0px;
}

/* 결제창 모달 */

.orientationContent {
	padding-bottom: 25px;
    text-align: center;
    font-size: 16px;
    color: rgb(61, 69, 77);
}

.trainerBarWrap .trainerBar {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(218, 224, 230, 0.38) 0px 4px 8px;
    border: 1px solid rgb(228, 234, 240);
    border-radius: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.trainerBarWrap .trainerBar .profileImage {
    width: 80px;
    height: 80px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: inline;
}

.trainerBarWrap .trainerBar .coachProfileWrap {
    display: inline-flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 16px;
    vertical-align: middle;
}

.trainerBarWrap .trainerBar .coachProfileWrap .coachName {
    font-size: 16px;
    font-weight: bold;
    color: rgb(41, 46, 51);
}

.trainerBarWrap .trainerBar .coachProfileWrap .centerName {
    padding-top: 2px;
    font-size: 14px;
    color: rgb(108, 118, 128);
}

.jMxvw label span {
    color: #5865f2;
}

.jMxvw input:focus {
    border-color: #5865f2;
}

.order_comment {
    text-align: center;
    font-size: 14px;
    color: rgb(61, 69, 77);
    background-color: rgb(237, 241, 245);
    padding: 7px;
    border-radius: 6px;
    margin-top: 24px;
}

.usePoint, .useCoupon {
	width: 28%;
    margin-left: 10px;
}

.usePointButton, .useCouponButton {
	height: 48px;
    width: 100%;
    background-color: #5865F2;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0px;
    border: none;
    cursor: pointer;
}

.paymentButtom {
    height: 48px;
    width: 100%;
    background-color: #5865F2;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0px;
    border: none;
    cursor: pointer;
}

.usePointButton:hover {
	background: #414cc4;
}

.useCouponButton:hover {
	background: #414cc4;
}

.usePointButton:hover {
	background: #414cc4;
}

.paymentButtom:hover {
	background: #414cc4;
}

.option {
	font-family: inherit;
    resize: none;
    color: #3d454d;
    padding: 16px;
    border: 1px solid #e4eaf0;
    border-radius: 6px;
    width: 91%;
    display: block;
    background-color: #fff;
    background-clip: padding-box;
    line-height: 1.5!important;
}

/* 센터 목록 모달 */
.center_info {
    margin: 10px 5px;
    background-color: #5865F2;
    padding: 10px;
    border-radius: 10px;
    cursor:pointer;
}
.center_info .center_name {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}
.center_info .center_addr {
    font-size: 1.1rem;
    color: lightgrey;
}

