@charset "UTF-8";


.orderListBox{
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
	align-items: center;
    background-color : white;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 16px;
    min-width: 840px;
}
.orderProfile{
	width:50px;
	height:50px;
	border-radius: 25px;
}
.orderContainer{
	margin-left:8px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.orderName{
	color:black;
	font-size: 16px;
	font-weight: bold;
}
.orderText{
	color: black;
	font-size: 16px;
}
.paymentCancle {
	height: 48px;
    width: 100%;
    background-color: #5865F2;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 15px;
	font-weight: bold;
    color: rgb(255, 255, 255);
    border: 1px solid #5865F2;
    margin: 0px;
    cursor: pointer;
}
.paymentComplete {
	font-weight: bold;
    height: 48px;
    width: 100%;
    background-color: #ccccd3;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 15px;
    color: rgb(109 101 101);
    border: 1px solid #ccccd3;
    margin: 0px;
}
}