<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration> 
	<typeAliases>
		 <typeAlias alias="mo" type="com.ptconnect.myapp.domain.MemberDTO"/>
		 <typeAlias alias="ao" type="com.ptconnect.myapp.domain.AdminDTO"/>
		 <typeAlias alias="cio" type="com.ptconnect.myapp.domain.CenterInfoDTO"/>
		 <typeAlias alias="tio" type="com.ptconnect.myapp.domain.TrainerInfoDTO"/>
		 <typeAlias alias="scri" type="com.ptconnect.myapp.domain.SearchCriteria"/>
		 <typeAlias alias="fdo" type="com.ptconnect.myapp.domain.FileDetailDTO"/>
<typeAlias alias="po" type="com.ptconnect.myapp.domain.PaymentDTO"/>
	</typeAliases>
</configuration>