@charset "UTF-8";
	
body *{
	box-sizing: border-box;
}

.contents-area{
	display: flex;
	width: 100%;
	height: 700px;	
	padding: 0;
	border: 0;
	border-radius: 8px;
}
.div-photo{
	background: #ffffffd6;
	box-shadow: 5px 5px 15px -5px rgb(0, 0, 0);
	width: 50%;
	height: 100%;
	border-radius: 8px 0 0 8px;
}
.md-div-name-area{
	padding: 5px 5px 5px 10px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 7%;
	background-color: #fff;
	border-radius: 8px 0 0 0;
}
.md-div-nickname{
	display: flex;
	align-items: center;
	height: 100%;	
}
.md-div-mark{
	display: flex;
	align-self: self-start;
	margin-left: 5px;
	width: 10%;
	height: 85%;
	background: url(../../images/logo4.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;	
}
.photo-area{
	width: 100%;
	height: 93%;
	border: 0;
	border-radius: 0 0 0 8px;
}
.photo-area .swiper{
	border-radius: 0 0 0 8px;
}
.cont-img{
	width: 100%;
	height: 650px;
	border: 0;
	border-radius: 0 0 0 8px;
	box-shadow: 0px 1px 5px 2px;
	object-fit: cover;
}
.div-contents{
	position: relative;
	display: block;
	width: 50%;
	height: 100%;
	background: #ffffffd6;
	font-size: 16px;
	border-radius: 0 8px 8px 0;
}
.div-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 7%;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	border-left: 1px solid #eee;
	border-radius: 0 8px 0 0;
}
.md-title-area{
	width: 90%;
	height: 100%;
	padding: 5px 10px;
	
}
.md-title-area, .md-like-area{
	display: inline-block;
}
.md-title-span{
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: pre-wrap;
	text-overflow: ellipsis;
}
.md-like-area{
	padding: 5px;
	width: 10%;
	text-align: center;
}
.like-button{
	color:red;
	font-size:20px;
	cursor: pointer;
}
.input-like{
	display: none;
}
.div-content{
	width: 100%;
	height: 38%;
	/*min-height: 10%;
	max-height: 38%;*/
	overflow: auto;
	/*overflow-y: scroll;*/
	background-color: rgba(255, 255, 255, 0.7);
	border-top: 1px solid #666;
}
.div-content::-webkit-scrollbar{
	width: 8px;
}
.div-content::-webkit-scrollbar-thumb{
	background: #666;
}
.div-content::-webkit-scrollbar-track{
	background: #ddd;
}
.content-area{
	padding: 10px;
}
.tag-area{
	padding: 0 10px;
	width: 100%;
	color:#567ff2;
	font-weight: bold;
	border: 0;
}
.div-comment-write{
	padding: 10px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 10%;
}
.comment-form{
	width: 100%;
	height: 100%;
}
.comment-write-area{
	width: 90%;
	height: 100%;
}
.input-comment{
	padding: 3px 5px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 1rem;
	border: 1px solid #567ff2;
	border-radius: 5px;
	resize: none;
	overflow: auto;
	/*overflow-y: scroll;*/
}
.input-comment:focus{
	outline: none;
	border: 2px solid #567ff2;
}
.input-comment::-webkit-scrollbar{
	width: 5px;
}
.input-comment::-webkit-scrollbar-thumb{
	background: #567ff2;
	min-height: 5px;
}
.input-comment::-webkit-scrollbar-thumb:hover{
	cursor: pointer;
}
.input-comment::-webkit-scrollbar-track{
	background: #fff;
}
.comment-write-btn-area{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9%;
	height: 100%;
}
.btn-img{
	width: 100%;
	height: 100%;
	border: 0;
	border-radius: 8px;
	background: url(../../images/commentbtn.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
	box-shadow: 4px 2px 4px 0px rgba(27, 13, 75, 0.62);
}
.btn-img:active{
	transform: scale(0.95);
}

.div-commentList{
/*	position: absolute;
	left: 0;
	bottom: 5%;*/
	width: 100%;
	height: max-content;
	max-height: 40%;
	overflow: auto;
	/*overflow-y: scroll;*/
}
.div-commentList::-webkit-scrollbar{
	width: 8px;
}
.div-commentList::-webkit-scrollbar-thumb{
	background: #666;
}
.div-commentList::-webkit-scrollbar-track{
	background: #ddd;
}
.comment-area {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 5px 10px;
	width: 100%;
}
.comment-area span{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.comment-area div{
	height: 100%;
}
.comment-id {
	width: 10%;
}
.span-nick{
	
}
.comment-cont {
	width: 60%;
}
.span-cont{
	padding-left: 5px;
}
.comment-date {
	width: 15%;
	font-size: 0.75em;
}
.span-date{
	
}
.comment-btn{
	padding: 0 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 15%;
}
.comment-btn button{
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-size: 0.75em;
	white-space: nowrap;
}
.btn-report{
	
}
.div-bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px 10px;
	width: 100%;
	height: 5%;
	text-align: right; 
	background: #5562c8;
	border-radius: 0 0 8px 0;
}

button {
	border: 0;
	background: none;
	cursor: pointer;
	color: white;
	font-weight: bold;
}

/* 스크롤 */
.conttable2-cont::-webkit-scrollbar{
width:10px;
}
.conttable2-cont::-webkit-scrollbar-thumb{
	background-color: #0072de;
	border-radius: 4px;
}
.conttable2-cont::-webkit-scrollbar-track{
	background-color: #eee;
	border-radius: 4px;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
}
.swiper-slide img {
	display: block;
	object-fit: cover;
}
.ibtn {
	color: white;
}