@charset "UTF-8";
	
	h1 {
		margin-bottom: 0;
	}
	
	.gallery {
		margin: 30px 0 0 60px;
		position: relative;
		font-size: 25px;
		border-bottom: 4px solid;
	}
/* 	.inner-table td {
		border-bottom: 1px solid;
	} */
	
	.container	{
		display: flex;
		justify-content: center;
	}
	
	.table-cont {
		box-shadow: 5px 5px 15px -5px #333;
		width: 300px;
		height: 500px;
		border-spacing: 0px;
		border-radius: 5px;
	}
	
	.wrap-table {
		margin-top: 50px;
	}
	
	.inner-table {
		padding: 30px;
		transition: all 0.2s linear;
	}
	
	.inner-table:hover {
		 transform: scale(1.1);
	}
	
	.table-cont img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 3px 4px 9px -1px;
	}
	
	.like {
		text-align: right;
	}
	
	.page-num {
		display: flex;
		justify-content: center;
	
	}
	
	.page-num td {
		padding: 20px;
	}
	
	.page-num td a {
		color: black;
	}
	
	.write-btn {
		text-align: right;
		padding-right: 30px;
	}
	
	.input-button {
		padding: 6px 25px;
		background-color:#567ff2;
		border-radius: 3px;
		color: white;
		cursor: pointer;
		font-size: 15px;
	}
	
	.input-button:hover {
		background: #1d3477;
		box-shadow: 4px 2px 4px 0px rgba(27, 13, 75, 0.62);
		transition: 0.3s;
	}
	
	