@charset "UTF-8";

body *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.test-div1{
	width: 100%;
	height: 600px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(300px, auto);
	gap: 20px;
}
.test-div2{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #000;
}
.test-div3{
	width: 100%;
	height: 50%;
	color: #fff;
	background-color: #000;	
}
.test-img{
	width: 100%;
	height: 50%;
}