@charset "utf-8";

body { 
	font-family: Helvetica Neue,"Pretendard-Regular", Helvetica, Arial, sans-serif;
	background: #4e71d3;
}

.container {
	display: flex;
	position: relative;
}

.join {
	width: 400px;
	height: 600px;
	background: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 8px 7px 29px 0px rgba(27, 13, 75, 0.62);
	position: absolute;
	top: -50%;
	left: 50%;
	margin-left: -200px;
	margin-top: 100px;
}

.join-body{
	margin-top: 40px;
}

.svgLogo img {
	margin: 0 75px 0 75px;
}

input {
	width: 392px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 2px solid #9eafdd;
}

input:focus {
	outline: #9eafdd solid 2px;
}

.body-pwd {
	margin-bottom:20px;
	
}


input[type="button"] { 
	cursor: pointer;
	color : #fff;
	font-size : 15px;
	font-weight: 700;
	background-color : #567ff2;
	border: none;
	box-shadow: 2px 1px 2px 0px rgba(27, 13, 75, 0.62);
}

input[type="button"]:hover { 
	background: #1d3477;
	box-shadow: 4px 2px 4px 0px rgba(27, 13, 75, 0.62);
	transition: 0.3s;
}

.join-id {
	display: flex;
}

.join-id input[type="text"] {
	width: 350px;
}

.join-id input[type="button"] {
	width: 150px;
	margin-left: 10px;
}

.join-email {
	display: flex;
}

.join-email select {
	width: 300px;
	height: 45px;
	margin-left: 10px;
	border-radius: 5px;
	border: 2px solid #9eafdd;
}

select:focus {
	outline: #9eafdd solid 2px;
}

.email-certi {
	display: flex;
}

.email-certi input[type="button"]{
	width: 200px;
	height: 45px;
	margin-left: 10px;
}

placeholder {
	font-weight: 500;
	
}