@charset "UTF-8";

.findWrap{
	display:grid;
	padding:100px;
	margin:0 auto;
}
.findTitle{
	margin:50px auto;
	font-size:30px;
}

.idfindBox{
	width:500px;
	height:100%;
	display:grid;
	background-color:#dff2fd;
	border-radius:30px;
	margin:0 auto;
	padding:30px;
}

.menuBox{
	display:flex;
	color:#9e9e9e;
	align-items:center;
	justify-content: center;
	gap:30px;
	cursor:pointer;
}


.idFindBtn{
	width:90%;
	margin:50px auto 0;
}

.idFindBtn button{
	border:none;
	border-radius:10px;
	background-color: #5865F2;
	color:white;
	width:100%;
	height:40px;
	font-size:20px;
	font-weight:bold;
	margin-bottom:30px;
	}



