@charset "UTF-8";@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css);@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css);@import"//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css";* {
    max-height: 999999px
}

a,a:hover {
    color: inherit;
    text-decoration: none;
}

body,label {
    margin: 0
}

body {
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-family: Spoqa Han Sans Neo,"sans-serif"
}

.middle {
    text-align: center
}

.my_container {
    max-width: 1136px;
    min-width: 700px;
    margin: auto;
    font-size: 16px
}

.gray_background {
    background-color: #f7f9fa
}

img {
    object-fit: cover;
    object-position: center center
}

input[type=date],input[type=mail],input[type=number],input[type=password],input[type=tel],input[type=text],select {
    color: #3d454d;
    padding: 16px;
    border: 1px solid #e4eaf0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    display: block;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 16px
}

input[type=date]::-ms-clear,input[type=mail]::-ms-clear,input[type=number]::-ms-clear,input[type=password]::-ms-clear,input[type=tel]::-ms-clear,input[type=text]::-ms-clear,select::-ms-clear {
    display: none!important
}

input[type=date].disabled,input[type=mail].disabled,input[type=number].disabled,input[type=password].disabled,input[type=tel].disabled,input[type=text].disabled,select.disabled {
    background-color: #edf1f5
}

input[type=date]:focus,input[type=mail]:focus,input[type=number]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=text]:focus,select:focus {
    border: 1px solid #5865F2
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/static/images/icon/s24/arrow_down_gray.svg)!important;
    background-position: -moz-calc(100% - 12px) 50%;
    background-position: calc(100% - 12px) 50%;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    cursor: pointer
}

select::-ms-expand {
    display: none!important
}

textarea {
    font-size: 16px;
    color: #3d454d;
    padding: 16px;
    border: 1px solid #e4eaf0;
    border-radius: 6px;
    width: 100%;
    display: block;
    background-color: #fff;
    background-clip: padding-box;
    line-height: 1.5!important
}

textarea::-ms-clear {
    display: none!important
}

textarea:focus {
    border-color: #5865F2
}

input[type=radio]+label {
    width: 24px;
    height: 24px;
    background: url(/static/images/icon/s24/radio_off.svg) no-repeat;
    background-size: 100%;
    cursor: pointer;
    margin: 0;
    vertical-align: text-bottom
}

input[type=radio]:checked+label {
    background: url(/static/images/icon/s24/radio_on.svg) no-repeat;
    background-size: 100%
}

input[type=checkbox]+label {
    width: 24px;
    height: 24px;
    background: url(/static/images/icon/s24/checkbox_off.svg) no-repeat;
    background-size: 100%;
    cursor: pointer;
    margin: 0;
    vertical-align: text-bottom
}

input[type=checkbox]:checked+label {
    background: url(/static/images/icon/s24/checkbox_on.svg) no-repeat;
    background-size: 100%
}

li {
    list-style: none
}

li,ul {
    padding: 0
}

ul {
    margin: 0
}

.round_box {
    padding: 6px 12px;
    border-radius: 18px;
    background-color: #fff;
    border: 1px solid #dae0e6;
    color: #3d454d;
    text-align: center;
    cursor: pointer;
    font-size: 14px
}

.active_round_box {
    border: 1px solid #5865F2;
    color: #5865F2
}

h1,h2,h3,h4,h5,h6 {
    margin: 0
}

.loading {
    margin: 24px auto
}

.buttonForm {
    color: #495057;
    height: 48px;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -moz-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    background-color: #fff
}

.buttonForm.activeCheck {
    border: 1px solid #5865F2;
    color: #5865F2
}

.slick-arrow {
    display: none!important
}

span.show-more-less-clickable {
    cursor: pointer;
    color: #4a90e2
}

span.show-more-less-clickable:hover {
    text-decoration: none
}

.rbc-btn {
    color: inherit;
    font: inherit;
    margin: 0
}

button.rbc-btn {
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled].rbc-btn {
    cursor: not-allowed
}

button.rbc-input::-moz-focus-inner {
    border: 0;
    padding: 0
}

.main_header{
    height: 84px;
    background: rgb(255, 255, 255);
}

.main_header nav{
    height: 84px;
    box-shadow: rgba(218, 224, 230, 0.38) 0px 4px 8px;
    background-color: rgb(255, 255, 255);
    width: 100% !important;
}

.main_header .contents{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 84px;
    max-width: 1136px;
    padding: 0px;
    margin: auto;
    font-size: 16px;
}

.main_header .contents.coach_nav{
    max-width: 100vw;
}

.navi_logo{
    cursor: pointer;
    margin-right: 20px;
    width: 100px;
}

.navi_name{
    color: rgb(108, 118, 128);
    text-decoration: none;
    margin: 0px 18px;
	
}

.inner_header{
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(218, 224, 230);
	
}

.inner_header .tab_wrap{
    line-height: 56px;
    height: 57px;
    border-bottom: 1px solid rgb(218, 224, 230);
}

.tab_wrap .tab_flex{
    display: flex;
    justify-content: space-evenly;
    color: rgb(61, 69, 77);
}

.tab_wrap .tab{
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 0;
}

.tab_wrap .tab a{
    display : block;
}

.tab_wrap .active_tab{
    font-weight: bold;
    border-bottom: 2px solid #5865F2;
    color: #5865F2 !important;
}

.nav_bar_menu{
    flex: 0 0 auto;
    cursor: pointer;
    margin-left: auto;
    color: rgb(61, 69, 77);
}

.inner_contents{
    padding-bottom: 96px;
    padding-top: 24px;
	
}

.main_footer{
    font-size: 12px;
    color: rgb(108, 118, 128);
    background: rgb(237, 241, 245);
}

.main_footer .footer{
    padding-top: 36px;
    padding-bottom: 48px;
}

.terms .menu:first-child{
	margin-left : 0px;
}

.terms .menu{
    font-size: 14px;
    margin: 0px 16px;
}

.terms .icon{
	float: right;
}

.terms .icon a{
	margin-left: 16px;
}

.project_info{
    clear: left;
    padding-top: 30px;
    font-size: 14px;
    display: block;
}

.project_info .cs{
	margin-bottom: 36px;
}

.project_info .cs .cs_title{
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 10px;
}

.project_info .cs .tel{
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #5865F2;    
}

.project_info .cs .test_id{
    font-size: 14px;
}

.project_info h5{
    font-weight: 700;
    padding-bottom: 10px;
    margin: 0px;
    font-size: 14px;
	
}
