<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptconnect.myapp.persistance.AdminServiceMapper">

	<select id="adminMain" resultType="ao">
		SELECT * FROM member(mbAuth, mbEmail, mbPwd, mbPwdSalt, mbName, mbphone, mbAddr)
		VALUES(#{mbAuth}, #{mbEmail}, #{mbPwd}, #{mbPwdSalt}, #{subject}, #{contents}, #{writer}, #{filename2}, #{pwd})
	</select>
	
	<select id="centerRegisterTotalCount" resultType="int">
		select COUNT(*) from centerinfo c join (select * from member where mbDelYN='N') m on c.mbNo=m.mbNo
		where c.ctDelYN = 'R' OR c.ctDelYN = 'Y' order by c.ctNo DESC
	</select>
	<select id="centerRegisterList" parameterType="scri" resultType="cio">
		select * from centerinfo c join (select * from member where mbDelYN='N') m on c.mbNo=m.mbNo
		where c.ctDelYN = 'R' OR c.ctDelYN = 'Y' order by c.ctNo DESC limit #{page},#{perPageNum}
	</select>
	<select id="registredProductTotalCount" resultType="int">
		select Count(*) 
		from trainerinfo t 
		join member m on t.mbNo=m.mbNo 
		left join (select * from centerinfo where ctDelYN='N') c on t.ctNo = c.ctNo
		where t.tnDelYN = 'N' and t.ctNo is not null and m.mbDelYN='N' and c.ctDelYN ='N'
		order by t.tnNo DESC
	</select>
	<select id="registredProductList" parameterType="scri" resultType="tio">
		select * 
		from trainerinfo t 
		join member m on t.mbNo=m.mbNo 
		left join (select * from centerinfo where ctDelYN='N') c on t.ctNo = c.ctNo
		where t.tnDelYN = 'N' and t.ctNo is not null and m.mbDelYN='N' and c.ctDelYN ='N'
		order by t.tnNo DESC limit #{page},#{perPageNum}
	</select>
	<update id="centerRegist" parameterType="int">
		update centerInfo set ctDelYN = 'N', ctDateM = now()
		where ctNo = #{ctNo}
	</update>
</mapper>