<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptconnect.myapp.persistance.CenterServiceMapper">

	<select id="centerInfoView" parameterType="int" resultType="tio">
		SELECT m.mbNo, m.mbAuth, m.mbEmail, m.mbName, m.mbMapY, m.mbMapX
		, t.tnNo, t.ctNo, c.flNo, t.tnOneLine, t.tnIntro, t.tnTicket
		, c.ctName, c.ctIntro, c.ctInfo, c.ctPrice
		, (SELECT mtc.mbAddr FROM member mtc WHERE mtc.mbNo = c.mbNo) AS mbAddr
		, (SELECT COUNT(r.rvNo) FROM review r WHERE r.tnNo = t.tnNo AND r.rvDelYN = 'N') AS reviewCnt
		, (SELECT avg(r.rvRate) FROM review r WHERE r.tnNo = t.tnNo AND r.rvDelYN = 'N') AS reviewRate
		, (SELECT q.qualify FROM qualify q WHERE q.tnNo = t.tnNo AND q.qlDelYN = 'N') AS qualify
		FROM member m
		JOIN trainerinfo t ON m.mbNo = t.mbNo AND t.tnDelYN = 'N'
		JOIN centerinfo c ON t.ctNo = c.ctNo AND c.ctDelYN = 'N'
		WHERE m.mbDelYN = 'N'
		AND t.tnNo = #{tnNo};
	</select>
	
	<select id="centerInfoView_photos" parameterType="int" resultType="fdo">
		SELECT fdNo, flNo, fdName, fdPName, fdDelYN
		FROM filedetail
		WHERE flno = #{flNo} AND fdDelYN = 'N'
		ORDER BY fdno ASC;
	</select>
	
	<update id="centerModify" parameterType="cio">
		UPDATE centerinfo SET flNo=#{flNo}, ctName = #{ctName}, ctIntro = #{ctIntro}, ctPrice = #{ctPrice},
		ctOperate = #{ctOperate}, ctInfo = #{ctInfo}, ctDateM = now()
		WHERE ctNo = #{ctNo} and mbNo = #{mbNo}
	</update>
	
	<select id="centerSelectOne" parameterType="int" resultType="cio">
		SELECT *
		FROM centerinfo
		WHERE mbNo = #{mbNo} AND ctDelYN = 'N' ORDER BY ctNo desc limit 1
	</select>
	
<!-- 트레이너정보에서 센터검색에 필요한 기능 -->
	<select id="trainerCenterSelectOne" parameterType="int" resultType="cio">
		SELECT *
		FROM centerinfo
		WHERE ctNo = #{ctNo} AND ctDelYN = 'N' ORDER BY ctNo desc limit 1
	</select>
	<select id="centerFind" parameterType="String" resultType="cio">
		select ci.ctNo, ci.ctName, m.mbAddr
		from centerinfo ci 
		join member m on ci.mbNo = m.mbNo 
		where ci.ctName like '%${ctName}%'
		order by 1 desc;
	</select>
	
	
	
</mapper>