<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptconnect.myapp.persistance.MemberServiceMapper">
	<insert id="memberInsert" parameterType="mo">
		INSERT INTO member(mbAuth, mbEmail, mbPwd, mbName, mbPhone, mbAddr, mbMapY, mbMapX)
		VALUES(#{mbAuth}, #{mbEmail}, #{mbPwd}, #{mbName}, #{mbPhone}, #{mbAddr}, #{mbMapY}, #{mbMapX})
	</insert>
	<insert id="centerInsert" parameterType="cio">
		<selectKey keyProperty="mbNo" resultType="int" order="AFTER">
			SELECT MAX(mbNo) as mbNo FROM member
		</selectKey>
		INSERT INTO member(mbAuth, mbEmail, mbPwd, mbName, mbPhone, mbAddr, mbMapY, mbMapX)
		VALUES(#{mbAuth}, #{mbEmail}, #{mbPwd}, #{mbName}, #{mbPhone}, #{mbAddr}, #{mbMapY}, #{mbMapX})
	</insert>
	<insert id="centerInfoInsert" parameterType="cio">
		INSERT INTO centerInfo(mbNo,ctName,ctBn)
		VALUES(#{mbNo},#{ctName},#{ctBn})
	</insert>
	<select id="memberEmailCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member WHERE mbEmail = #{mbEmail}
	</select>
</mapper>