<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptconnect.myapp.persistance.TrainerServiceMapper">

	<!-- 트레이너 찾기 비 로그인 or 로그인-->
	<select id="findTrainer" parameterType="scri" resultType="tio">
		SELECT m.mbNo, m.mbAuth, m.mbEmail, m.mbName, m.mbMapY, m.mbMapX
		, t.tnNo, t.ctNo, t.tnOneLine, t.tnIntro, t.tnTicket, t.tnDate, t.tnDateM, t.tnDelYN, c.ctName
		, (SELECT mtc.mbAddr FROM member mtc WHERE mtc.mbNo = c.mbNo) AS mbAddr
		, (SELECT COUNT(r.rvNo) FROM review r WHERE r.tnNo = t.tnNo AND r.rvDelYN = 'N') AS reviewCnt
		, (SELECT fd.fdName FROM filedetail fd WHERE fd.flNo = t.flNo ORDER BY fd.fdNo ASC LIMIT 1) AS tnImage
		, (SELECT fd.fdName FROM filedetail fd WHERE fd.flNo = c.flNo ORDER BY fd.fdNo ASC LIMIT 1) AS ctImage
		, (SELECT u.mbMapY FROM member u WHERE u.mbNo = #{mbNo} AND u.mbDelYn = 'N') AS uMapY
		, (SELECT u.mbMapX FROM member u WHERE u.mbNo = #{mbNo} AND u.mbDelYn = 'N') AS uMapX
		<choose>
			<when test="mbNo == 0">	<!-- 비 로그인 시 이젠IT 좌표 위치 기준으로 반경 검색 -->
				, (SELECT ST_DISTANCE_SPHERE(POINT(127.1324143491829, 35.84026098258203), POINT(m.mbMapX, m.mbMapY))) AS distance
			</when>
			<otherwise>
				, (SELECT ST_DISTANCE_SPHERE(POINT(u.mbMapX , u.mbMapY), POINT(m.mbMapX, m.mbMapY)) FROM member u WHERE u.mbNo = #{mbNo} AND u.mbDelYn = 'N') AS distance
			</otherwise>
		</choose>
		FROM member m
		JOIN trainerinfo t ON m.mbNo = t.mbNo AND t.tnDelYN = 'N'
		JOIN centerinfo c ON t.ctNo = c.ctNo AND c.ctDelYN = 'N'
		<!-- LEFT JOIN review r ON t.tnNo = r.tnNo AND r.rvDelYN = 'N' -->
		WHERE m.mbDelYN = 'N'
		<choose>
			<when test="mbNo == 0">
				<![CDATA[
				AND (SELECT ST_DISTANCE_SPHERE(POINT(127.1324143491829, 35.84026098258203), POINT(m.mbMapX, m.mbMapY))) <= #{distance}
				]]>
			</when>
			<otherwise>
				<![CDATA[
				AND (SELECT ST_DISTANCE_SPHERE(POINT(u.mbMapX, u.mbMapY), POINT(m.mbMapX, m.mbMapY)) FROM member u WHERE u.mbNo = #{mbNo} AND u.mbDelYn = 'N') <= #{distance}
				AND NOT m.mbNo = #{mbNo}
				]]>
			</otherwise>
		</choose>
		<include refid="trainerSearch"/>
		ORDER BY distance ASC
		LIMIT #{page}, 15
	</select>
	
	<!-- 트레이너 총 개수 -->
	<select id="trainerTotalCount" parameterType="scri" resultType="int">
		SELECT COUNT(t.tnNo) AS trainerCNT
		FROM member m
		JOIN trainerinfo t ON m.mbNo = t.mbNo AND t.tnDelYN = 'N'
		JOIN centerinfo c ON t.ctNo = c.ctNo AND c.ctDelYN = 'N'
		WHERE m.mbDelYN = 'N'
		<choose>
			<when test="mbNo == 0">
				<![CDATA[
				AND (SELECT ST_DISTANCE_SPHERE(POINT(127.1324143491829, 35.84026098258203), POINT(m.mbMapX, m.mbMapY))) <= #{distance}
				]]>				
			</when>
			<otherwise>
				<![CDATA[
				AND (SELECT ST_Distance_Sphere(POINT(u.mbMapX, u.mbMapY)
				, POINT(m.mbMapX, m.mbMapY)) FROM member u WHERE u.mbNo = #{mbNo} AND u.mbDelYn = 'N') <= #{distance}
				]]>
				AND m.mbNo NOT IN(#{mbNo})				
			</otherwise>
		</choose>
		<include refid="trainerSearch"/>
	</select>
	
	<!-- 트레이너 검색 조건 -->
	<sql id="trainerSearch">
		<if test="keyword != null">
			AND (
				m.mbName LIKE CONCAT("%",#{keyword},"%")
				OR m.mbAddr LIKE CONCAT("%",#{keyword},"%")
				OR c.ctName LIKE CONCAT("%",#{keyword},"%")
				)
		</if>
	</sql>	
	
	<!-- 트레이너정보등록 -->
	<insert id="trainerInsert" parameterType="tio" useGeneratedKeys="true" keyProperty="tnNo">
		<selectKey resultType="int" keyProperty="tnNo"  order="AFTER">
		select max(tnNo) as tnNo from trainerInfo
		</selectKey>
		insert into trainerInfo(mbNo, flNo, tnOneLine, tnIntro, tnTicket)
	 	values(#{mbNo}, #{flNo}, #{tnOneLine},#{tnIntro},#{tnTicket})
	</insert>
	<!-- 자격 정보 등록 -->
	<!-- <insert id="qualifyInsert" parameterType="tio">
		insert into qualify(tnNo, qualify)
	 	values(#{tnNo}, #{qualify})
	</insert> -->
	
	<!-- 레슨 가격 정보 등록 -->
	<insert id="lessonPriceInsert" parameterType="tio">
		insert into lessonPrice(tnNo, lpCf, lpCount, lessonPrice)
	 	values(#{tnNo}, #{lpCf}, #{lpCount}, #{lessonPrice})
	</insert>
	
	<!-- 파일 정보 등록 -->
	<insert id="fileInsert" parameterType="fdo"  useGeneratedKeys="true" keyProperty="flNo">
		<selectKey resultType="int" keyProperty="flNo"  order="AFTER">
		select max(flNo) as flNo from file_
		</selectKey>
		insert into file_(flCf, flCfNo)
		values( CASE 
	                WHEN #{tnNo} IS NOT NULL THEN 'T'
	                WHEN #{ctNo} IS NOT NULL THEN 'C'
	                WHEN #{rvNo} IS NOT NULL THEN 'R'
	                WHEN #{bdNo} IS NOT NULL THEN 'B'
	                ELSE NULL
	            END,
	            CASE 
	                WHEN #{tnNo} IS NOT NULL THEN #{tnNo}
	                WHEN #{ctNo} IS NOT NULL THEN #{ctNo}
	                WHEN #{rvNo} IS NOT NULL THEN #{rvNo}
	                WHEN #{bdNo} IS NOT NULL THEN #{bdNo}
	                ELSE NULL
	            END) 
	</insert>
	
	<insert id="fileDetailInsert" parameterType="fdo">
		insert into fileDetail(flNo, fdName, fdPName)
		values(#{flNo}, #{fdName}, #{fdPName})
	</insert>
	
	<update id="trainerInfoUpdate" parameterType="tio">
	    UPDATE trainerInfo
	    SET flNo = #{flNo}
	    WHERE tnNo = #{tnNo}
	</update>
	
	<!-- 트레이너정보등록 -->
	
	<select id="findTrainerOne" parameterType="int" resultType="tio">
		select * from trainerInfo where tnNo=#{tnNo}
	</select>
	
	<update id="trainerModify" parameterType="tio">
		update trainerInfo set tnOneLine = #{tnOneLine}, tnIntro = #{tnIntro},
		tnTicket = #{tnTicket}, modifyday = now()
		where tnNo = #{tnNo}
	</update>
	
	<update id="qualifyModify" parameterType="tio">
		update qualify set qualify = #{qualify}, modifyday = now()
		where tnNo = #{tnNo}
	</update>
	
	<update id="lessonPriceModify" parameterType="tio">
		update lessonPrice set lpCf = #{lpCf}, lpCount = #{lpCount},
		lessonPrice = #{lessonPrice}, modifyday = now()
		where tnNo = #{tnNo}
	</update>
	
	<update id="file_Modify" parameterType="fdo">
		update file_ set flCf = #{flCf}, flCfNo = #{flCfNo},
		modifyday = now()
		where tnNo = #{tnNo} and tnNo = #{tnNo}
	</update>
	
	<update id="fileDetailModify" parameterType="fdo">
		update file_ set fdName = #{fdName}, fdPName = #{fdPName},
		modifyday = now()} 
		where tnNo = #{tnNo}
	</update>
	
	
	
</mapper>