<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ptconnect.myapp.persistance.TrainerServiceMapper">

	<select id="findTrainer" resultType="to">
		SELECT * FROM trainerinfo WHERE tnDelYN = 'N';
	</select>
	
	<insert id="trainerInsert" parameterType="tio">
	<selectKey resultType="int" keyProperty="tnNo"  order="AFTER">
	select max(tnNo) as tnNo from trainerInfo
	</selectKey>
	insert into trainerInfo(tnOneLine, tnIntro, tnTicket)
 	values(#{tnOneLine},#{tnIntro},#{tnTicket})
	</insert>
	
	<insert id="qualifyInsert" parameterType="tio">
	insert into qualify(qualify)
 	values(#{qualify})
	</insert>
	
	<insert id="lessonPriceInsert" parameterType="tio">
	insert into lessonPrice(lpCf, lpCount, lessonPrice)
 	values(#{lpCf}, #{lpCount}, #{lessonPrice})
	</insert>
	
</mapper>