@charset "UTF-8";

	/* 마이페이지 네비 헤더 */
.mypageNavi {
	width: 80%;
	margin : auto;
	margin-top: 150px;
}
.tab.navi {
	list-style: none;
	padding: 0;
	display: flex;
	border-radius: 5px;
	background-color:#567ff2;
}

.container {
	position: relative;
}

.member-info {
	width: 400px;
	background: white;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 8px 7px 29px 0px rgba(27, 13, 75, 0.62);
	position: relative;
	margin: auto;
	margin-bottom: 150px;
}

.imgLogo {
	margin: 0 75px 0 75px;
}

input {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 2px solid #9eafdd;
}

input:focus {
	outline: #9eafdd solid 2px;
}

input[name="btn"] { 
	cursor: pointer;
	font-weight: 550;
	color : #fff;
	font-size : 20px;
	font-weight: 400;
	background-color : #567ff2;
	border: none;
	box-shadow: 2px 1px 2px 0px rgba(27, 13, 75, 0.62);
}

input[name="btn"]:hover { 
	background: #1d3477;
	box-shadow: 4px 2px 4px 0px rgba(27, 13, 75, 0.62);
	transition: 0.3s;
}

.info-cont {
	width: 100%;
	height: 200px;
	border-collapse: separate;
	border-spacing: 0 10px;
	margin-top: 30px;
}

.info-cont td {
	border-radius: 7px;
	border: 3px solid #9eafdd;
	background: #9eafdd;
	padding: 10px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border: none;
	box-shadow: 1px 1px 3px 1px rgba(27, 13, 75, 0.62);
}

.info-btn {
	display: flex;
}

.info-btn input {
	margin-right: 5px;
}

#infoLogo {
	margin-left: 0;
}

.join-body {
	margin-top: 50px;
}

.join-id {
	display: flex;
}

.join-id input[type="text"] {
	width: 350px;
}

.join-id input[type="button"] {
	width: 150px;
	margin-left: 10px;
}

.join-name {
	display: flex;
}

.join-name input[type="text"] {
	width: 350px;
}

.join-name input[type="button"] {
	width: 150px;
	margin-left: 10px;
}

#info-point {
	height: 60px;
}

#exc-point {
	width: 100%;
	font-size: 18px;
}