@charset "UTF-8";

.inner-container {
	width: 80%;
	margin: 50px auto;
}

.btn-area{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, auto));
	/*grid-auto-rows: minmax(40px, auto);*/
	gap: 10px 20px;
}

.btn1{
	width: 100%;
	height: 40px;
	color: #000;
	font-size: 1.25em;
	font-weight: bold;
	border: 0;
	border-radius: 8px;
	box-shadow: 5px 5px 15px -5px #333;
}

.btn1:hover{
	transform: scale(1.05);
}

.clicked{
	color: #fff;
	background-color: #5486C9;
}

.member-info {
	width: 450px;
	background: white;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 8px 7px 29px 0px rgba(27, 13, 75, 0.62);
	position: relative;
	margin: 50px auto;
}

.imgLogo {
	margin: 0 75px 0 75px;
}

input {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 2px solid #9eafdd;
}

input:focus {
	outline: #9eafdd solid 2px;
}

input[name="btn"] { 
	cursor: pointer;
	font-weight: 550;
	color : #fff;
	font-size : 20px;
	font-weight: 400;
	background-color : #567ff2;
	border: none;
	box-shadow: 2px 1px 2px 0px rgba(27, 13, 75, 0.62);
	margin-top: 10px;
}

input[name="btn"]:hover { 
	background: #1d3477;
	box-shadow: 4px 2px 4px 0px rgba(27, 13, 75, 0.62);
	transition: 0.3s;
}

.info-cont {
	width: 100%;
	height: 200px;
	border-collapse: separate;
	border-spacing: 6px 10px;
}

.info-cont td {
	border-radius: 7px;
	border: 3px solid #9eafdd;
	background: #9eafdd;
	padding: 10px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border: none;
	box-shadow: 1px 1px 3px 1px rgba(27, 13, 75, 0.62);
}

.info-btn {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.info-btn input {
	margin-right: 5px;
	width: 100px;
	font-weight: bold;
}

#infoLogo {
	margin-left: 0;
}

.join-body {
	margin-top: 50px;
}

.join-id {
	display: flex;
}

.join-id input[type="text"] {
	width: 350px;
}

.join-id input[type="button"] {
	width: 150px;
	margin-left: 10px;
}

.join-name {
	display: flex;
}

.join-name input[type="text"] {
	width: 350px;
}

.join-name input[type="button"] {
	width: 150px;
	margin-left: 10px;
}

#info-point {
	height: 60px;
}

#exc-point {
	width: 100%;
	font-size: 18px;
}

.tab-name-area {
	font-size: 30px;
	margin-bottom: 30px;
}

h3 {
	font-size: 25px;
}