@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
body {
	background: #eee;
	font-family: Helvetica Neue,"Pretendard-Regular", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin: 0;
	padding: 0;
}
.m-navi{
	margin-top: 50px;
	height: 75px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;
	color: #000;
	background-color: #fff;	
	border: 0;
	border-radius: 8px;
	box-shadow: 5px 5px 15px -5px #333;
}
.tap{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 1.25rem;
	font-weight: 600;
}
.tap:hover{
	cursor: pointer;
}
.clicked{
	color: #fff;
	background-color: #666;
	border: 0;
	border-radius: 8px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	/*transform: scale(1.05);*/
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);	
}
.container-title {
	margin: 30px 0 0 60px;
	font-size: 25px;
	border-bottom: 4px solid;
}
.container-title h1{
	margin-bottom: 0;
}
.container {
	width: 100%;
	margin: 0;
}
.tabContent{
	width: 100%;
	height: 700px;
	margin: 0 auto;
	text-align: center;
}
 
/* 기본 테이블 스타일 */
.report-table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	margin: 100px auto;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2); 
}
.report-table td, .report-table td {
	padding: 12px;
	text-align: center;
}
.report-table tr:first-child {
	color: #fff;
	background-color: #666;
	font-weight: bold;
}
.report-table tr:nth-child(even) {
	background-color: #f9f9f9;
}
.report-table tr:hover {
	background-color: #e0e0e0;
}
#reportNum { 
	width: 50px;
}
#sort {
	width: 50px;
}
#breed {
	width: 50px;
}
#useName {  
	width: 150px;
}
#ctn { 
	width: 600px;
}
#clearYn {
	width: 100px;
}
#pntYn{
	width: 100px;
}
#delCheck{
	width: 100px;
	
}
.delCheck{
	color: #fff;
	background-color: rgba(0,0,0,0.1);
	border: none;
}
.modal {
	display: none;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.modalContent {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}