@charset "UTF-8";


/* #5865F2 : 디스코드 아이콘 색상*/ 
.tb1{
	text-align: center;
	border: 1px solid #e3e6f0;
	border-left-width: 0;
	border-right-width: 0;
}
.btn-discord{
	color: #5865F2;
}
.btn-cancel{
	color: #e74a3b;
}


/* 페이징 영역 */
.pagination-area{
	display: flex;
	justify-content: center;
}
.page-table {
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-table td {
	padding: 20px;
}
.page-num {
	color: black;
	font-size: 16px;
	text-decoration: none;
}
.page-num:visited{
	color: black;
	text-decoration: none;
}
.currentPageNum{
	transform: scale(1.25);
	font-weight: bold;
	text-decoration: underline;
}
/* 페이징 영역 */