<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my0803.myapp.persistance.BoardService_Mapper">

<!--   XML 파일은 MyBatis 프레임워크에서 사용되는 매퍼 파일로, 데이터베이스와 연동하기 위한 SQL 쿼리와 매핑 정보를 정의하고 있습니다-->

	<insert id="boardInsert" parameterType="bv">
	
	<selectKey resultType="int" keyProperty="bidx" order="AFTER">
	select max(bidx) as bidx from board0803
	</selectKey>
	
	INSERT INTO board0803(bidx,originbidx,depth,level_,SUBJECT,CONTENTS,WRITER,midx,pwd,filename,ip)
	VALUES(null,null,0,0,#{subject},#{contents},#{writer},#{midx},#{pwd},#{filename2},#{ip})
	</insert>
	
	<update id="boardOriginBidxUpdate" parameterType="int">
	update board0803 set originbidx= #{bidx} where bidx =#{bidx}
	</update>
	
	<sql id="search">
	<if test="searchType != null and searchType.equals('writer')">
		and writer like concat('%',#{keyword},'%')
	</if>
	<if test="searchType != null and searchType.equals('subject')">
		and subject like concat('%',#{keyword},'%')
	</if>
	
	</sql>
	
	<select id="boardSelectAll"  parameterType="scri" resultType="bv">
	select * from board0803 where delyn='N' 
	<include refid="search"/>
	order by originbidx desc, depth asc limit #{page},15
	</select>
	
	<select id="boardTotalCount"  parameterType="scri" resultType="Integer">
	select count(*)AS cnt from board0803 where delyn = 'N'
	<include refid="search"/>
	</select>
	<!--  이름                                    매개변수의 타입                             결과타입  -->
	<select id="boardSelectOne"  parameterType="int" resultType="bv"> 
	select * from board0803 where bidx = #{bidx}
	</select>
	
	<update id="boardCntUpdate" parameterType="int">
	update board0803 set viewcnt  = viewcnt+1 where bidx =#{bidx} 
	</update>
	
	<update id="boardModify" parameterType="bv">
	    UPDATE board0803
	    SET subject = #{subject},
	        contents = #{contents},
	        writer = #{writer},
	        modifyday = now(),
	        ip = #{ip}
	    WHERE bidx = #{bidx} AND pwd = #{pwd}
	</update>
	
	
	
	<update id="boardDelete" parameterType="HashMap">
		update board0803 set
			delyn = 'Y', modifyday=now()
			where bidx = #{bidx} and pwd= #{pwd}
	</update>
	
	
	
	<insert id="boardReplyInsert" parameterType="bv">
	<selectKey resultType="int" keyProperty="bidx" order="AFTER">
	select max(bidx) as bidx from board0803
	</selectKey>
	insert into board0803(originbidx,depth,level_,subject,contents,writer,midx,ip,pwd,filename)
			values(#{originbidx},#{depth}+1,#{level_}+1,#{subject},#{contents},#{writer},#{midx},#{ip},#{pwd},#{filename2})
	</insert>
	
	
	<update id="boardReplyUpdate"  parameterType="bv">
	 UPDATE board0803 SET depth = depth+ 1 WHERE depth > #{depth} and originbidx =#{originbidx}
	</update>
	
	
	
	
	






</mapper>