@charset "UTF-8";

/*헤더 시작*/

.page-inner{	
	width: 80%;
	margin: 50px auto;
}
.page-side{
	width: 100%;
	margin: 0 auto;	
}
.page-title{
	font-size: 30px;
}
.content{
	margin-top: 50px;
}
.btn-area{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.btn-Notice{
	background-color: #5486C9;
}
.btn-FAQ{
	margin-left: 1%;
	background-color: #3793A0;
}
.btn-Notice, .btn-FAQ{
	width: 13%;
	height: 40px;
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
	border: 0;
	border-radius: 8px;
	box-shadow: 5px 5px 15px -5px #333;
}
.btn-Notice:hover, .btn-FAQ:hover{
	cursor: pointer;
}
.btn-Notice:active, .btn-FAQ:active{
	transform: scale(0.95);
}
.table-area{
	margin-top: 20px;
	padding: 0;
	border: 0;
	border-radius: 8px;
	box-shadow: 5px 5px 15px -5px #333;
}
.content-table{
	width: 100%;
	text-align: center;
	border-spacing: 0;
	border-radius: 8px;
	background-color: #fff;
	table-layout: fixed;
}
.td-head{
	text-align: center;
	color: #fff;
	background-color: #5486C9;
	padding: 15px 5px;
}
.td-head:first-child{
	border-radius: 8px 0 0 0;
}
.td-head:last-child{
	border-radius: 0 8px 0 0;
}
.td-body{
	padding: 15px 5px;
	height: 20px;
	border-bottom: 1px solid #eee;
}
.td-no, .td-cate, .td-wdate, .td-cnt{
	width: 9%;
}
.tr-body .td-sub{
	padding-left: 20px;
	text-align: left;
}
.tr-body .td-sub a{
  text-decoration: none;
}
.content-table .tr-body:last-of-type .td-body{
	border-bottom: none;
}
.td-sub{
	width: 44%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.td-writer{
	width: 20%
}
.btn-area2{
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.btn-write{
	width: 13%;
	height: 40px;
	color: #fff;
	background-color: #219888;
	font-size: 1.1em;
	font-weight: bold;
	border: 0;
	border-radius: 8px;
	box-shadow: 5px 5px 15px -5px #333;
}
.btn-write:active{
	transform: scale(0.95);
}
.page-table {
	display: flex;
	justify-content: center;
}
.page-table td {
	padding: 20px;
}
.page-num {
	color: black;
	font-size: 16px;
	text-decoration: none;
}
.page-num:visited{
	color: black;
	text-decoration: none;
}
.currentPageNum{
	transform: scale(1.25);
	font-weight: bold;
	text-decoration: underline;
}